/* Start Variable Color */
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
:root {
  --main-color:#219cd4;
  --bg-color: #FDFDFD;
  --text-color: #333;
  --white-color: #FFF;
  --black-color: #000;
  --shadow-color: rgba(0,0,0, .2);
}

/* End Variable Color */
/* Transition */
/*  */
/*  */
/* 
  ** Media Query Mixin For Help Only 
  ** Nemo Version Only For The Course
*/
/* 
  ** Overlay Mixin
  ** Overlay Main Propertis
*/
/* 
  ** Prefixes Mixin 
  ** Auto Add Prefixes To properties
*/
/* 
  ** Animation Mixin 
  ** Auto Add Prefixes To Animation
*/
/* 
  ** 
  ** 
*/
.buttn a {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
          box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
  letter-spacing: 1px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: var(--white-color);
}
.buttn a:hover {
  background-color: transparent;
  color: var(--main-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-up {
  position: fixed;
  right: 30px;
  bottom: 80px;
  cursor: pointer;
  background-color: var(--main-color);
  padding: 10px;
  -webkit-box-shadow: var(--shadow-color);
          box-shadow: var(--shadow-color);
  border-radius: 50%;
  -webkit-animation: bouncing 1.5s linear infinite;
          animation: bouncing 1.5s linear infinite;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100;
  display: none;
}
.btn-up .up {
  color: var(--white-color);
}
.btn-up.active {
  display: block;
}

.reset-options {
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.9176470588);
  border: none;
  width: 178px;
  margin: 20px auto;
  display: block;
  color: var(--white-color);
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-box-shadow: var(--shadow-color);
          box-shadow: var(--shadow-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}
.reset-options:hover {
  background-color: #ff0000;
  letter-spacing: 1px;
}

.navbar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 65px;
}
.navbar .logo {
  position: relative;
  color: var(--main-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: slideRight 0.5s ease forwards;
          animation: slideRight 0.5s ease forwards;
  -webkit-animation-delay: calc(0.2s * var(--i));
          animation-delay: calc(0.2s * var(--i));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .logo::before {
  content: "";
  position: absolute;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  padding: 18px;
  z-index: -1;
}
@media (max-width: 767px) {
  .navbar .logo {
    margin-left: 12px;
  }
}
.navbar .nav-toggle {
  background-color: var(--main-color);
  padding: 0px 6px;
  border: none;
  font-size: 18px;
  border-radius: 3px;
  color: var(--white-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar .nav-toggle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (min-width: 992px) {
  .navbar .nav-toggle {
    display: none;
  }
}
.navbar .nav-toggle .open-nav.show-open-icon {
  display: none;
}
.navbar .nav-toggle .nav-close {
  display: none;
}
.navbar .nav-toggle .nav-close.show-close-icon {
  padding: 5px 2px;
  display: block;
}
@media (max-width: 991px) {
  .navbar .navbar-nav {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 13px;
  }
}
.navbar .navbar-nav .nav-link {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 30px;
  padding: 0;
  font-size: 18px;
  color: var(--white-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: slideTop 0.5s ease forwards;
          animation: slideTop 0.5s ease forwards;
  -webkit-animation-delay: calc(0.2s * var(--i));
          animation-delay: calc(0.2s * var(--i));
}
.navbar .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: var(--black-color);
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.active::after, .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:hover::after {
  color: var(--black-color);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    margin-bottom: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.navbar.bg-nav {
  background-color: var(--bg-color);
  -webkit-box-shadow: 0 0.1rem 1rem var(--shadow-color);
          box-shadow: 0 0.1rem 1rem var(--shadow-color);
}
.navbar.bg-nav .nav-link {
  color: var(--main-color);
}
@media (max-width: 991px) {
  .navbar.bg-nav .nav-link {
    color: var(--white-color);
  }
}
.navbar.bg-nav .nav-link.color-link.active, .navbar.bg-nav .nav-link.color-link.active::after, .navbar.bg-nav .nav-link.color-link:hover, .navbar.bg-nav .nav-link.color-link:hover::after {
  color: var(--white-color);
}
.navbar.bg-nav .nav-link.color-link.active::after, .navbar.bg-nav .nav-link.color-link:hover::after {
  background-color: var(--white-color);
}
@media (max-width: 991px) {
  .navbar.bg-nav .nav-link.color-link.active, .navbar.bg-nav .nav-link.color-link.active::after, .navbar.bg-nav .nav-link.color-link:hover, .navbar.bg-nav .nav-link.color-link:hover::after {
    color: var(--black-color);
  }
  .navbar.bg-nav .nav-link.color-link.active::after, .navbar.bg-nav .nav-link.color-link:hover::after {
    background-color: var(--black-color);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideTop {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
    opacity: 1;
  }
}
/*
92.23deg
#ff56f6 21.43%
#b936ee 50.63%
#3bace2 100%
#406aff 117.04%
*/
/*
92.23deg
#406aff 21.43%
#3bace2 50.63%
#b936ee 100%
#ff56f6 117.04%
*/
/*
box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51)
*/
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Start Footer */
.footer {
  background-color: var(--main-color);
  color: var(--white-color);
}
@media (max-width: 767px) {
  .footer p {
    font-size: 12px !important;
  }
}

/* End Footer */
/* Start Home Content */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #aaa;
  -webkit-box-shadow: var(--shadow-color);
          box-shadow: var(--shadow-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
}

.bg-loading {
  background-color: black;
  z-index: 20000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg-loading .loading .ring {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -30px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #24ecff;
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}
.bg-loading .loading .ring::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #24ecff;
  -webkit-box-shadow: 0 0 0 5px rgba(36, 236, 255, 0.2), 0 0 0 10px rgba(36, 236, 255, 0.1333333333), 0 0 0 20px rgba(36, 236, 255, 0.0666666667), 0 0 20px #24ecff, 0 0 50px #24ecff;
          box-shadow: 0 0 0 5px rgba(36, 236, 255, 0.2), 0 0 0 10px rgba(36, 236, 255, 0.1333333333), 0 0 0 20px rgba(36, 236, 255, 0.0666666667), 0 0 20px #24ecff, 0 0 50px #24ecff;
}
.bg-loading .loading .ring:nth-child(2), .bg-loading .loading .ring:nth-child(3) {
  -webkit-animation: animate2 4s linear infinite;
          animation: animate2 4s linear infinite;
  border-top: 4px solid transparent;
}
.bg-loading .loading .ring:nth-child(2)::before, .bg-loading .loading .ring:nth-child(3)::before {
  top: initial;
  bottom: 12px;
  left: 12px;
}
.bg-loading .loading .ring:nth-child(2) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  border-left: 4px solid #93ff2d;
}
.bg-loading .loading .ring:nth-child(2)::before {
  background: #93ff2d;
  -webkit-box-shadow: 0 0 0 5px rgba(147, 255, 45, 0.2), 0 0 0 10px rgba(147, 255, 45, 0.1333333333), 0 0 0 20px rgba(147, 255, 45, 0.0666666667), 0 0 20px #93ff2d, 0 0 50px #93ff2d;
          box-shadow: 0 0 0 5px rgba(147, 255, 45, 0.2), 0 0 0 10px rgba(147, 255, 45, 0.1333333333), 0 0 0 20px rgba(147, 255, 45, 0.0666666667), 0 0 20px #93ff2d, 0 0 50px #93ff2d;
}
.bg-loading .loading .ring:nth-child(3) {
  position: absolute;
  top: -66.66px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  border-left: 4px solid #e41cf8;
}
.bg-loading .loading .ring:nth-child(3)::before {
  background: #e41cf8;
  -webkit-box-shadow: 0 0 0 5px rgba(228, 28, 248, 0.2), 0 0 0 10px rgba(228, 28, 248, 0.1333333333), 0 0 0 20px rgba(228, 28, 248, 0.0666666667), 0 0 20px #e41cf8, 0 0 50px #e41cf8;
          box-shadow: 0 0 0 5px rgba(228, 28, 248, 0.2), 0 0 0 10px rgba(228, 28, 248, 0.1333333333), 0 0 0 20px rgba(228, 28, 248, 0.0666666667), 0 0 20px #e41cf8, 0 0 50px #e41cf8;
}
.bg-loading .loading p {
  color: var(--white-color);
  bottom: -7em;
  letter-spacing: 0.15em;
}

/* Start Settings Box */
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: var(--main-color);
  border-right: 1px solid #555;
  width: 200px;
  height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10000;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: var(--main-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.settings-box .toggle-settings .gear {
  padding: 10px 0;
  width: 35px;
}
.settings-box .option-box {
  padding: 6px;
  background-color: var(--bg-color);
  border-radius: 4px;
  margin: 10px;
  text-align: center;
  -webkit-box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
          box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
}
.settings-box .option-box .clock-icon {
  color: var(--main-color);
  font-size: 20px;
}
.settings-box .option-box p {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 0;
}
.settings-box .option-box h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--main-color);
  pointer-events: none;
  border-bottom: 1px solid var(--main-color);
}
.settings-box .option-box .colors-list {
  padding: 0;
  margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 3px solid var(--white-color);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
}
.settings-box .option-box .colors-list li.active {
  opacity: 1;
  -webkit-box-shadow: 0 0.3rem 0.5rem var(--shadow-color);
          box-shadow: 0 0.3rem 0.5rem var(--shadow-color);
}
.settings-box .option-box .colors-list li:first-child {
  background-color: #219cd4;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #395bd4;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #754ef9;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #a31344;
}
.settings-box .option-box .content-mod #check {
  display: none;
}
.settings-box .option-box .content-mod #check:checked ~ label .switch {
  -webkit-transform: translateX(51px);
          transform: translateX(51px);
}
.settings-box .option-box .content-mod .sun {
  color: #fac213;
  font-size: 18px;
}
.settings-box .option-box .content-mod .moon {
  color: var(--white-color);
  font-size: 18px;
}
.settings-box .option-box .content-mod label {
  width: 80px;
  height: 30px;
  background-color: var(--black-color);
  border-radius: 50px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.settings-box .option-box .content-mod .switch {
  width: 31px;
  height: 31px;
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 50%;
  left: -1px;
  position: absolute;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.settings-box .option-box .img-language {
  background-color: var(--main-color);
  padding: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.settings-box .option-box .img-language:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.settings-box .option-box .img-language img {
  border-radius: 4px;
  border: 2px solid var(--white-color);
  max-width: 100%;
  width: 40px;
  height: 30px;
}

/* End Settings Box */
@media (max-width: 991px) {
  .home .home-content .text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.home .home-content .text h3 span {
  color: var(--main-color);
}
@media (max-width: 1200px) {
  .home .home-content .text h3 span {
    font-size: 25px !important;
  }
}
@media (max-width: 437px) {
  .home .home-content .text h3 span {
    font-size: 19px !important;
  }
}
.home .home-content .text h1 {
  font-family: "Italianno", cursive;
  font-size: 70px;
  letter-spacing: 5px;
}
.home .home-content .text h1 span {
  color: var(--main-color);
}
.home .home-content .text .social-media a {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 2px solid var(--main-color);
  -webkit-box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
          box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  color: var(--main-color);
  margin: 20px 20px 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home .home-content .text .social-media a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.home .profession-container {
  position: absolute;
  top: -65px;
  right: 0;
  width: 800px;
  height: 800px;
  overflow: hidden;
  pointer-events: none;
}
@media (max-width: 1460px) {
  .home .profession-container {
    width: 700px;
    height: 700px;
  }
}
@media (max-width: 1200px) {
  .home .profession-container {
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 991px) {
  .home .profession-container {
    position: relative;
    width: 100%;
    height: 700px;
    top: -230px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transform: rotateX("angle");
            transform: rotateX("angle");
  }
}
.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: professionRotate 13s ease-out infinite;
          animation: professionRotate 13s ease-out infinite;
}
@media (max-width: 1580px) {
  .home .profession-container .profession-box {
    right: -70px;
  }
}
@media (max-width: 1460px) {
  .home .profession-container .profession-box {
    right: -90px;
    width: 700px;
    height: 700px;
  }
}
@media (max-width: 1200px) {
  .home .profession-container .profession-box {
    top: 40px;
    right: 0;
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 991px) {
  .home .profession-container .profession-box {
    top: 200px;
    width: 500px;
    height: 500px;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    -webkit-animation: none;
            animation: none;
  }
}
.home .profession-container .profession-box .profession {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--main-color);
  -webkit-transform: rotate(calc(90deg * var(--i)));
          transform: rotate(calc(90deg * var(--i)));
  -webkit-transform-origin: 400px;
          transform-origin: 400px;
  background-color: var(--bg-color);
  padding: 12px 0;
}
@media (max-width: 1460px) {
  .home .profession-container .profession-box .profession {
    -webkit-transform-origin: 345px;
            transform-origin: 345px;
    left: 0;
  }
}
@media (max-width: 1200px) {
  .home .profession-container .profession-box .profession {
    -webkit-transform-origin: 255px;
            transform-origin: 255px;
    left: -15px;
  }
}
@media (max-width: 991px) {
  .home .profession-container .profession-box .profession {
    padding: 0 13px;
  }
}
.home .profession-container .profession-box .profession:nth-child(1) {
  left: 0;
}
@media (max-width: 1460px) {
  .home .profession-container .profession-box .profession:nth-child(1) {
    left: 8px;
  }
}
@media (max-width: 1200px) {
  .home .profession-container .profession-box .profession:nth-child(1) {
    left: 0;
  }
}
.home .profession-container .profession-box .profession:nth-child(2) {
  bottom: 347px;
}
@media (max-width: 1460px) {
  .home .profession-container .profession-box .profession:nth-child(2) {
    bottom: 295px;
  }
}
@media (max-width: 1200px) {
  .home .profession-container .profession-box .profession:nth-child(2) {
    bottom: 195px;
  }
}
.home .profession-container .profession-box .profession:nth-child(3) {
  left: 0;
}
@media (max-width: 1200px) {
  .home .profession-container .profession-box .profession:nth-child(3) {
    left: -10px;
  }
}
.home .profession-container .profession-box .profession:nth-child(4) {
  bottom: 372px;
}
@media (max-width: 1460px) {
  .home .profession-container .profession-box .profession:nth-child(4) {
    bottom: 327px;
  }
}
@media (max-width: 1200px) {
  .home .profession-container .profession-box .profession:nth-child(4) {
    bottom: 230px;
  }
}
.home .profession-container .profession-box .profession .icon {
  font-size: 25px;
}
.home .profession-container .profession-box .profession h6 {
  font-size: 22px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .home .profession-container .profession-box .profession:nth-child(1) {
    -webkit-transform: rotate(-360deg) translate(157px, -178px);
            transform: rotate(-360deg) translate(157px, -178px);
  }
  .home .profession-container .profession-box .profession:nth-child(2) {
    -webkit-transform: rotate(180deg) translate(160px, -180px);
            transform: rotate(180deg) translate(160px, -180px);
  }
  .home .profession-container .profession-box .profession:nth-child(3) {
    -webkit-transform: rotate(90deg) translate(165px, -185px);
            transform: rotate(90deg) translate(165px, -185px);
  }
  .home .profession-container .profession-box .profession:nth-child(4) {
    -webkit-transform: rotate(-90deg) translate(165px, -175px);
            transform: rotate(-90deg) translate(165px, -175px);
  }
}
.home .profession-container .profession-box .circle {
  width: 664px;
  height: 664px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}
@media (max-width: 1460px) {
  .home .profession-container .profession-box .circle {
    width: 550px;
    height: 550px;
  }
}
@media (max-width: 1200px) {
  .home .profession-container .profession-box .circle {
    width: 370px;
    height: 370px;
  }
}
.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 400px solid var(--main-color);
  border-right: 400px solid var(--main-color);
  border-bottom: 400px solid var(--main-color);
  border-left: 400px solid transparent;
}
@media (max-width: 1460px) {
  .home .profession-container .overlay {
    border-top: 350px solid var(--main-color);
    border-right: 350px solid var(--main-color);
    border-bottom: 350px solid var(--main-color);
    border-left: 350px solid transparent;
  }
}
@media (max-width: 1200px) {
  .home .profession-container .overlay {
    border-top: 300px solid var(--main-color);
    border-right: 300px solid var(--main-color);
    border-bottom: 300px solid var(--main-color);
    border-left: 300px solid transparent;
  }
}
@media (max-width: 991px) {
  .home .profession-container .overlay {
    width: 100%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: 500px solid transparent;
    border-right: 500px solid var(--main-color);
    border-bottom: 500px solid var(--main-color);
    border-left: 500px solid var(--main-color);
  }
}
.home .profession-container .home-img {
  position: absolute;
  bottom: 0;
  right: 100px;
}
.home .profession-container img {
  max-width: 100%;
  width: 350px;
}
@media (max-width: 1460px) {
  .home .profession-container img {
    width: 300px;
  }
}
@media (max-width: 1200px) {
  .home .profession-container img {
    width: 240px;
  }
}
@media (max-width: 991px) {
  .home .profession-container img {
    display: none;
  }
}
.home .go-down {
  font-size: 22px;
  color: var(--main-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home .go-down .down {
  position: absolute;
  bottom: -50%;
  -webkit-animation: bouncing 1.5s infinite;
          animation: bouncing 1.5s infinite;
}
@media (max-width: 1460px) {
  .home .go-down .down {
    bottom: -33%;
  }
}
@media (max-width: 1200px) {
  .home .go-down .down {
    bottom: -15%;
  }
}
@media (max-width: 991px) {
  .home .go-down .down {
    bottom: 9%;
  }
}

/* End Home Content */
/* Start About Me */
.about {
  margin-top: 290px;
}
@media (max-width: 1200px) {
  .about {
    margin-top: 150px;
  }
}
@media (max-width: 991px) {
  .about {
    text-align: center;
    margin-top: -40px;
  }
  .about .row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .about .col-lg-4 {
    width: 88%;
  }
}
.about h2 {
  font-size: 2.8rem;
}
.about h2 span {
  color: var(--main-color);
}
.about .bg-img {
  margin-top: 50px;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  -webkit-animation: up-and-down 1.5s linear infinite;
          animation: up-and-down 1.5s linear infinite;
  background: linear-gradient(45deg, transparent, var(--main-color), transparent);
}
.about .about-img {
  background-color: var(--main-color);
  overflow: hidden;
  border-radius: 2rem;
  padding: 1rem 0;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about .about-img:hover {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background: transparent;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

/* End About Me */
/* Start Skills */
.skills .skill-box {
  margin-bottom: 35px;
}
.skills .skill-box .skill-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--text-color);
}
.skills .skill-box .skill-progress {
  -webkit-box-shadow: 0 0.2rem 0.3rem var(--shadow-color);
          box-shadow: 0 0.2rem 0.3rem var(--shadow-color);
  height: 20px;
  width: 100%;
  background-color: #eee;
  border-radius: 6px;
  position: relative;
}
.skills .skill-box .skill-progress span {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 6px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.skills .skill-box .skill-progress span::before {
  content: attr(data-progress);
  font-size: 12px;
  position: absolute;
  background-color: var(--main-color);
  color: white;
  top: -34px;
  right: -17px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.skills .skill-box .skill-progress span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: var(--main-color) transparent transparent transparent;
  right: -5px;
  top: -8px;
}

/* End Skills */
/* Start Services */
.services .services-box .card {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 40px 0;
  -webkit-box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
          box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  border-radius: 2rem;
  height: 340px;
}
.services .services-box .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.services .services-box .card:hover h2 {
  color: var(--main-color);
}
.services .services-box .card .icon {
  font-size: 30px;
  color: var(--main-color);
}
.services .services-box .card h2 {
  pointer-events: none;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 20px;
}
.services .services-box .card p {
  font-size: 17px;
  height: 77px;
  overflow-y: auto;
}
.services .services-box .card p::-webkit-scrollbar {
  width: 4px;
}
.services .services-box .card p::-webkit-scrollbar-track {
  background-color: #aaa;
  -webkit-box-shadow: var(--shadow-color);
          box-shadow: var(--shadow-color);
}
.services .services-box .card p::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
}
.services .services-box .card p span {
  font-weight: 500;
  color: var(--main-color);
}
.services .services-box .buttn {
  pointer-events: fill;
}

/* End Services */
/* Start My Projects */
.my-projects .project-box {
  border-radius: 20px;
  -webkit-box-shadow: var(--shadow-color);
          box-shadow: var(--shadow-color);
}
.my-projects .project-box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.my-projects .project-box:hover .layer {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.my-projects .project-box .image img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}
.my-projects .project-box .layer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(var(--main-color)));
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  color: var(--white-color);
  opacity: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.my-projects .project-box .layer .buttn {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--bg-color);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.my-projects .project-box .layer .buttn p {
  position: absolute;
  top: -33px;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--bg-color);
  color: var(--main-color);
  padding: 0 5px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.my-projects .project-box .layer .buttn p::before {
  content: "";
  position: absolute;
  border-top: 14px solid var(--bg-color);
  border-right: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid transparent;
  bottom: -26px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.my-projects .project-box .layer .buttn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.my-projects .project-box .layer .buttn:hover .arrow {
  color: var(--white-color);
}
.my-projects .project-box .layer .buttn:hover p {
  color: var(--white-color);
  background-color: var(--main-color);
}
.my-projects .project-box .layer .buttn:hover p::before {
  border-top: 14px solid var(--main-color);
}
.my-projects .project-box .layer .buttn .arrow {
  color: var(--main-color);
}
.my-projects .bg-projects {
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 6px;
}
.my-projects .bg-projects .btn-projct span {
  color: var(--bg-color);
  padding: 2px 10px;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid var(--bg-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.my-projects .bg-projects .btn-projct span:hover, .my-projects .bg-projects .btn-projct span.active {
  background-color: var(--bg-color);
  color: var(--main-color);
}
@media (max-width: 767px) {
  .my-projects .bg-projects .btn-projct span {
    margin: 0;
  }
}
.my-projects .bg-projects .projects-container {
  height: 600px;
  overflow-y: auto;
}
.my-projects .bg-projects .projects-container .css-projects.not-show {
  display: none;
}
.my-projects .bg-projects .projects-container .js-projects.not-show {
  display: none;
}
.my-projects .bg-projects .projects-container::-webkit-scrollbar {
  display: none;
}

.popup-project {
  position: fixed;
  background-color: var(--main-color);
  left: 0;
  bottom: 30px;
  width: 100%;
  height: 85%;
  border-radius: 20px;
  z-index: 1000;
}
@media (max-width: 1200px) {
  .popup-project {
    height: 100%;
    overflow-x: auto;
    padding: 50px 0;
    text-align: center;
  }
}
.popup-project .close-popup {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: var(--white-color);
  color: var(--main-color);
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10001;
}
@media (max-width: 1200px) {
  .popup-project .close-popup {
    top: 100px;
  }
}
.popup-project .container-popup {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.popup-project .container-popup .wrapper-popup {
  margin-top: 80px;
  margin-left: 40px;
}
.popup-project .container-popup .wrapper-popup .img-wrapper .mySwiper .imgs img {
  max-width: 100%;
}
.popup-project .container-popup .wrapper-popup .img-wrapper .mySwiper .swiper-button-next,
.popup-project .container-popup .wrapper-popup .img-wrapper .mySwiper .swiper-button-prev {
  color: var(--white-color);
}
@media (max-width: 991px) {
  .popup-project .container-popup .wrapper-popup .img-wrapper .mySwiper .swiper-button-next,
.popup-project .container-popup .wrapper-popup .img-wrapper .mySwiper .swiper-button-prev {
    display: none;
  }
}
.popup-project .container-popup .wrapper-popup .img-wrapper .mySwiper .swiper-button-next {
  right: -25px;
}
.popup-project .container-popup .wrapper-popup .img-wrapper .mySwiper .swiper-button-prev {
  left: -25px;
}
.popup-project .container-popup .wrapper-popup .img-wrapper .mySwiper .swiper-pagination-bullet {
  background-color: var(--black-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popup-project .container-popup .wrapper-popup .img-wrapper .mySwiper .swiper-pagination-bullet-active {
  background-color: var(--bg-color);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.popup-project .container-popup .wrapper-popup .btn-popup {
  text-align: center;
  margin-top: 50px;
}
.popup-project .container-popup .wrapper-popup .btn-popup a {
  display: inline-block;
  padding: 8px 12px;
  background-color: var(--bg-color);
  border: 2px solid var(--white-color);
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
          box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: var(--main-color);
  margin: 0 10px;
}
.popup-project .container-popup .wrapper-popup .btn-popup a:hover {
  background-color: transparent;
  color: var(--white-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.popup-project .container-popup .text-popup {
  margin-top: 80px;
  margin-right: 20px;
  color: var(--white-color);
  pointer-events: none;
}
.popup-project .container-popup .text-popup span {
  background-color: var(--bg-color);
  color: var(--main-color);
  padding: 2px 10px;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 600;
}

.dashboard {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.dashboard.show {
  display: block;
}

.special-design {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.special-design.show {
  display: block;
}

.crds {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.crds.show {
  display: block;
}

.iphone {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.iphone.show {
  display: block;
}

.scroll {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.scroll.show {
  display: block;
}

.login {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.login.show {
  display: block;
}

.project-one {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.project-one.show {
  display: block;
}

.we {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.we.show {
  display: block;
}

.adidas {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.adidas.show {
  display: block;
}

.mnfaa {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.mnfaa.show {
  display: block;
}

.eslam {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.eslam.show {
  display: block;
}

.kasper {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.kasper.show {
  display: block;
}

/* End My Projects */
/* Start testimonial */
.testimonial .testimonial-wrapper {
  max-width: 90rem;
  padding: 5rem;
}
@media (max-width: 991px) {
  .testimonial .testimonial-wrapper {
    padding: 1rem;
  }
}
.testimonial .testimonial-wrapper .testimonial-box .swiper-button-next,
.testimonial .testimonial-wrapper .testimonial-box .swiper-button-prev {
  color: var(--main-color);
}
@media (max-width: 991px) {
  .testimonial .testimonial-wrapper .testimonial-box .swiper-button-next,
.testimonial .testimonial-wrapper .testimonial-box .swiper-button-prev {
    display: none;
  }
}
.testimonial .testimonial-wrapper .testimonial-box .swiper-button-next {
  right: 0;
}
.testimonial .testimonial-wrapper .testimonial-box .swiper-button-prev {
  left: 0;
}
.testimonial .testimonial-wrapper .testimonial-box .swiper-pagination-bullet {
  background-color: var(--black-color);
}
.testimonial .testimonial-wrapper .testimonial-box .swiper-pagination-bullet-active {
  background-color: var(--main-color);
}
.testimonial .testimonial-wrapper .testimonial-content .testimonial-slide {
  background-color: var(--bg-color);
  -webkit-box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
          box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  padding: 3rem 5rem;
  border-top: 0.8rem solid var(--main-color);
  border-bottom: 0.8rem solid var(--main-color);
}
@media (max-width: 991px) {
  .testimonial .testimonial-wrapper .testimonial-content .testimonial-slide {
    padding: 15px;
  }
}
.testimonial .testimonial-wrapper .testimonial-content .testimonial-slide img {
  width: 14rem;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 0.5rem solid var(--white-color);
  outline: 0.5rem solid var(--main-color);
}
.testimonial .testimonial-wrapper .testimonial-content .testimonial-slide h3 {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.testimonial .testimonial-wrapper .testimonial-content .testimonial-slide p {
  font-size: 1.4rem;
  text-align: center;
}
@media (max-width: 991px) {
  .testimonial .testimonial-wrapper .testimonial-content .testimonial-slide p {
    font-size: 17px;
  }
}

/* End testimonial */
/* Start Contact Me */
.contact-me .card {
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
          box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  border-radius: 2rem;
}
.contact-me .card .icon {
  color: var(--main-color);
}
.contact-me .card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.contact-me .card:hover h2 {
  color: var(--main-color);
}
.contact-me .card h2, .contact-me .card p {
  pointer-events: none;
}
.contact-me form .input-box input,
.contact-me form .input-box textarea {
  width: 100%;
  padding: 1.1rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.8rem 0;
  -webkit-box-shadow: 0 0rem 0.2rem var(--shadow-color);
          box-shadow: 0 0rem 0.2rem var(--shadow-color);
  border: none;
  outline: none;
  resize: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-me form .input-box input:focus,
.contact-me form .input-box textarea:focus {
  -webkit-box-shadow: 0 0.1rem 0.2rem var(--main-color);
          box-shadow: 0 0.1rem 0.2rem var(--main-color);
}
.contact-me form .input-box .buttn {
  padding: 10px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
          box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: var(--white-color);
}
.contact-me form .input-box .buttn:hover {
  background-color: transparent;
  color: var(--main-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* End Contact Me */
@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40%, 60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40%, 60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@-webkit-keyframes up-and-down {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes up-and-down {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@-webkit-keyframes professionRotate {
  0%, 20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25%, 40% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50%, 70% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  75%, 95% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes professionRotate {
  0%, 20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25%, 40% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50%, 70% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  75%, 95% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-font-family: "Cairo", sans-serif;
  font-size: 16px;
}
body.dark {
  --bg-color: #011;
  --text-color: #fff;
  --shadow-color: var(--main-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Main Title */
.main-title {
  text-align: center;
  margin: 0 auto 80px;
  border: 3px dashed var(--main-color);
  padding: 10px 20px;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}
.main-title:hover {
  border-style: solid;
  border-radius: 6px;
}
.main-title:hover h2 {
  pointer-events: none;
  color: var(--white-color);
}
.main-title::before, .main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main-title:hover::before {
  z-index: -1;
  -webkit-animation: left-move 0.5s linear forwards;
          animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  -webkit-animation: right-move 0.5s linear forwards;
          animation: right-move 0.5s linear forwards;
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title h2 {
  font-weight: bold;
  color: var(--main-color);
}

@-webkit-keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@-webkit-keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=website.css.map */