// Media Query
// #{  } <= Enter Polation طريقة 
$maxMobileSm: "(max-width: 437px)";
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
$maxLarge: "(max-width: 1200px)";


/* Start Variable Color */

:root {
  --main-color:#395bd4;
  --bg-color: #FDFDFD;
  --text-color: #333;
  --white-color: #FFF;
  --black-color: #000;
  --shadow-color: rgba(0,0,0, .2);
}
/* End Variable Color */



/* Transition */
$transition: .3s;
/*  */
/*  */













