.navbar {
  transition: $transition;
  height: 65px;
  .logo {
    position: relative;
    // font-family: 'Italianno', cursive;
    color: var(--main-color);
    transition: $transition;
    animation: slideRight .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      border: 3px solid var(--main-color);
      border-radius: 50%;
      padding: 18px;
      z-index: -1;
      }
      @media #{$maxMobile} {
        margin-left: 12px;
      }
    }
    .nav-toggle {
    background-color: var(--main-color);
    padding: 0px 6px;
    border: none;
    font-size: 18px;
    border-radius: 3px;
    color: var(--white-color);
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
    @media #{$minMedium} {
      display: none;
    }
    .open-nav {
      &.show-open-icon {
        display: none;
      }
    }
    .nav-close {
      display: none;
      &.show-close-icon {
        padding: 5px 2px;
        display: block;
      }
    }
  }
  .navbar-nav {
    @media #{$maxSmall} {
      background-color: var(--main-color);
      padding: 20px;
      border-radius: 13px;
    }
    .nav-link {
      position: relative;
      width: fit-content;
      margin-left: 30px;
      padding: 0;
      font-size: 18px;
      color: var(--white-color);
      transition: $transition;
      animation: slideTop .5s ease forwards;
      animation-delay: calc(.2s * var(--i));
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background-color: var(--black-color);
        border-radius: 5px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .5s;
      }
      &.active, &.active::after, &:hover, &:hover::after {
        color:  var(--black-color);
        transform: scaleX(1);
        transform-origin: left;
        transition: .5s;
      }
      @media #{$maxSmall} {
        margin-bottom: 15px;
        width: fit-content;
      }
    }
  }
  &.bg-nav {
    background-color: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
    .nav-link {
      color:  var(--main-color);
      @media #{$maxSmall} {
        color: var(--white-color);
      }
      &.color-link {
        &.active, &.active::after, &:hover, &:hover::after {
          color:  var(--white-color);
        }
        &.active::after, &:hover::after {
          background-color:  var(--white-color);
        }
        @media #{$maxSmall} {
          &.active, &.active::after, &:hover, &:hover::after {
            color:  var(--black-color);
          }
          &.active::after, &:hover::after {
            background-color:  var(--black-color);
          }
        }
      }
    }
  }
}


// Keyframes Animation
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}


/*
92.23deg
#ff56f6 21.43%
#b936ee 50.63%
#3bace2 100%
#406aff 117.04%
*/
/*
92.23deg
#406aff 21.43%
#3bace2 50.63%
#b936ee 100%
#ff56f6 117.04%
*/
/*
box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51)
*/